In [ ]:
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.8/dist-packages (0.3.9)
Requirement already satisfied: prettytable in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)

In [ ]:
import sqlalchemy

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///my.db')

In [ ]:
con = engine.raw_connection()

In [ ]:
cursor = con.cursor()

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('flights-2.csv')

In [ ]:
data.to_sql('flights', con, if_exists='append', index=False)

In [ ]:
for row in cursor.execute("SELECT * FROM flights LIMIT 5;"): print(row)

('12:10', 'MUC', '19:38', 'SFO', 'UA 907 ', '763', '1', 16, 28.0, 16.47, None)
('10:35', 'TPE', '8:06', 'SFO', 'UA 830 ', '777', '1', 13, 31.0, 13.52, None)
('15:15', 'SYD', '9:38', 'SFO', 'UA 870 ', '744', 'Non-Stop', 13, 23.0, 13.38, None)
('20:00', 'AKL', '11:15', 'SFO', 'NZ 008 ', '772', 'Non-Stop', 12, 15.0, 12.25, None)
('15:50', 'MUC', '19:00', 'SFO', 'LH 458 ', '346', 'Non-Stop', 12, 10.0, 12.17, None)

In [ ]:
data = pd.read_csv('aircrafts.csv')

In [ ]:
data.to_sql('aircrafts', con, if_exists='append', index=False)

In [ ]:
for row in cursor.execute("SELECT * FROM aircrafts LIMIT 5;"): print(row)

('737', 124)
('733', 124)
('319', 124)
('73G', 124)
('735', 104)

In [ ]:
for row in cursor.execute("PRAGMA table_info('flights');"): print(row)

(0, 'Depart_Time', 'TEXT', 0, None, 0)
(1, 'Origin', 'TEXT', 0, None, 0)
(2, 'Arrival_Time', 'TEXT', 0, None, 0)
(3, 'Destination', 'TEXT', 0, None, 0)
(4, 'Flight', 'TEXT', 0, None, 0)
(5, 'Aircraft', 'TEXT', 0, None, 0)
(6, 'Stops', 'TEXT', 0, None, 0)
(7, 'hours', 'INTEGER', 0, None, 0)
(8, 'minutes', 'REAL', 0, None, 0)
(9, 'duration', 'REAL', 0, None, 0)
(10, 'codeshare', 'REAL', 0, None, 0)

In [ ]:
for row in cursor.execute("PRAGMA table_info('aircrafts');"): print(row)

(0, 'Aircraft', 'TEXT', 0, None, 0)
(1, 'Seats', 'INTEGER', 0, None, 0)

In [ ]:
for row in cursor.execute("SELECT COUNT(*) FROM aircrafts"): print(row)

(34,)

In [ ]:
for row in cursor.execute("SELECT COUNT(*) FROM flights"): print(row)

(893,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Aircraft) FROM aircrafts"): print(row)

(34,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Seats) FROM aircrafts"): print(row)

(16,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Depart_Time) FROM flights"): print(row)

(286,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Origin) FROM flights"): print(row)

(71,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Arrival_Time) FROM flights"): print(row)

(302,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Destination) FROM flights"): print(row)

(1,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Flight) FROM flights"): print(row)

(869,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Aircraft) FROM flights"): print(row)

(32,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT Stops) FROM flights"): print(row)

(2,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT hours) FROM flights"): print(row)

(15,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT minutes) FROM flights"): print(row)

(56,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT duration) FROM flights"): print(row)

(186,)

In [ ]:
for row in cursor.execute("SELECT COUNT(DISTINCT codeshare) FROM flights"): print(row)

(1,)

In [ ]:
# Write a query to compute the number of passengers flying non-stop from DEN to SFO.

In [ ]:
# SUM

In [ ]:
# Step 1: Combine data and both tables Step 2:add filter where origin is denver step 3: find SUM of the seats using flight numbers

In [52]:
for row in cursor.execute("SELECT SUM(seats) FROM flights INNER JOIN aircrafts ON flights.Aircraft = aircrafts.Aircraft WHERE flights.Stops = 'Non-Stop' AND flights.Origin = 'DEN' AND flights.Destination ='SFO';"): print(row)

(6292,)

# Write a query to find the maximum number of passengers arriving in SFO (SINGLE FLIGHT) on Airplane Models starting with ‘7’  from DEN or SAN

In [53]:
for row in cursor.execute("SELECT MAX(seats) FROM flights INNER JOIN aircrafts ON flights.Aircraft = aircrafts.Aircraft WHERE flights.Stops = 'Non-Stop' AND flights.aircraft = '%7%' AND flights.Origin = 'DEN' OR flights.Origin = 'SAN' AND flights.Destination ='SFO';"): print(row)

(182,)